.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  text-align: center;
}

.arrow {
  width: 65px;
  height: 34px;
}

.play {
  width: 100%;
  height: 100%;
}

.stop {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.video {
  width: 100%;
  height: 100%;
      height: 100vh;
}