.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  padding-top: 40px;
  text-align: center;
  z-index: 999;
  background: linear-gradient(180deg, rgba(181, 81, 38, 0) 0%, #B55126 100%);
}

.play {
  width: 100%;
  height: 100%;
}

.stop {
  width: 100%;
  height: 100%;
}

.text {
  z-index: 999;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100vw;
  line-height: 18px;
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 999;
}

.video {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}