* {
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "DecimaFont";
  src: url("./assets/DecimaMonoCyrLt.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
