body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #645F5C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

#root {
  height: 100%;
  line-height: 0;
}

* {
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "DecimaFont";
  src: url("./assets/DecimaMonoCyr.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
