.container  {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  background-color: #B55126;
  padding: 75px 30px;
  position: relative;
}

.title {
  padding-bottom: 30px;
}

.text {
  font-family: DecimaFont;
  font-size: 17px;
  color: #FFFFFF;
}

.titleBig {
  font-family: DecimaFont;
  font-size: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 30px;
  padding-bottom: 30px;
}

.textBig {
  font-family: DecimaFont;
  font-size: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  line-height: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 130px;
  padding: 0px 30px;
  font-family: DecimaFont;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.arrow {
  width: 65px;
  height: 34px;
}

.link, .link:active, .link:hover{
  color:#ffffff;
  text-decoration: underline;
}

.link:active {
  color:#dbdbdb;
}

.smile {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
}